@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    /*background-image: url("https://www.transparenttextures.com/patterns/climpek.png"); */
}

#head {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    font-family: Poppins;
    width: 98%;
    background-color: #66b366;
}
  
#head tr th {
    padding: 4px;
    border-collapse: collapse;
}

#head tr .title{
    padding-left: 20px;
    width: 85%;
    font-weight: 600;
    color: white;
    font-size: 33px;
    background-color:transparent;
    cursor: pointer;
}

#head tr .add{
    text-align: center;
    font-size: 1.4vw;
    cursor: pointer;
}

#head tr .add .pdf{
    text-align: center;
    font-size: 1.4vw;
    cursor: pointer;
}

#head tr .add a{
    padding: 5px 10px;
    background-color: #008000;
    border-radius: 1px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
  
#head tr .add a:hover {
    background-color: #339933;
}
  
#head th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: rgb(29, 29, 29);
}

.wrapper{
    margin: 10px auto;
    padding: 0 5%;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-family: Poppins;
}

.wrapper h1{
    text-align: center;
    text-decoration: none;
}

.wrapper h1 a{
    color: #0c390a;
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 600;
    text-decoration: none;
}

.container{
    margin-top: 20px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.img_logo{
    width:190px; 
    height:190px; 
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.box{
    height: auto;
    padding: 12px;
    text-align: center;
    background:#f0f4ee;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.059);
    border: 2px solid #008000;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.box h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #008000;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 700;
}

.box p{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: 14px;
    line-height: 1;
}

.box .btn{
    border: 1px;
    outline: none;
    font-family: Poppins;
    font-size: 17px;
    margin-top: auto;
    margin-right: 75px;
    margin-left: 75px;
    padding: 8px 15px;
    color: #ffffff;
    background: #008000;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
}

.box .btn:hover{
    color: #ffffff;
    background: #339933;
}

.box:hover{
    box-shadow: 0 10px 15px rgba(36, 71, 33, 0.3);
}
  
.show{
    display:block;
}

@media (max-width:770px) {
    #head tr .title{
        padding-left: 20px;
        width: 79%;
        font-weight: 600;
        color: white;
        font-size: 21px;
        background-color:transparent;
        cursor: pointer;
    }
    #head tr .add{
        text-align: center;
        font-size: 10px;
        cursor: pointer;
    }
    .container{
        margin-top: 20px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    #btn{
        margin-top: 2rem;
        font-size: 10px;
    }
    #btn i{
        font-size: 20px;
    }
    .wrapper h2{
        margin-top: -1rem;
        font-size: 19px;
    }
    .box .btn{
        border: 1px;
        outline: none;
        font-family: Poppins;
        font-size: 13px;
        margin-top: auto;
        margin-right: 23px;
        margin-left: 23px;
        padding: 8px 15px;
        color: #ffffff;
        background: #008000;
        border-radius: 5px;
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
    }
    .box h2{
        padding: 30px 0 2px 0;
        font-size: 13px;
        font-weight: 600;
    }
    h3{
        display: none;
    }
    .img_logo{
        width:130px; 
        height:130px; 
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px) {
    #head tr .title{
        padding-left: 20px;
        width: 57%;
        font-weight: 600;
        color: white;
        font-size: 14px;
        background-color:transparent;
        cursor: pointer;
    }
    #head tr .add{
        text-align: center;
        font-size: 10px;
        cursor: pointer;
    }
    .container{
        margin-top: 20px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    #btn{
        margin-top: 2rem;
        font-size: 10px;
    }
    #btn i{
        font-size: 20px;
    }
    .wrapper h2{
        margin-top: -1rem;
        font-size: 19px;
    }
    .box .btn{
        border: 1px;
        outline: none;
        font-family: Poppins;
        font-size: 13px;
        margin-top: auto;
        margin-right: 23px;
        margin-left: 23px;
        padding: 8px 15px;
        color: #ffffff;
        background: #008000;
        border-radius: 5px;
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
    }
    .box h2{
        padding: 30px 0 2px 0;
        font-size: 13px;
        font-weight: 600;
    }
    h3{
        display: none;
    }
    .img_logo{
        width:100px; 
        height:100px; 
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
}
  
  
