@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    /* background-image: url("https://www.transparenttextures.com/patterns/climpek.png");  */
}

#nav-placeholder{
    position: relative;
    z-index: 3;
}

.container{
    position: relative;
    z-index: 2;
    margin-top: 15px;
}

table{
    font-size: 14px;
    /* background-color: #ffffff; */
}

table tbody td a{
    color: red;
}

#left{
    width: 18%;
    position: absolute;
    bottom: 0;
}

#right{
    width: 24%;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

#head {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    font-family: Poppins;
    width: 98%;
    background-color: #66b366;
}
  
#head tr th {
    padding: 4px;
    border-collapse: collapse;
}

#head tr .title{
    padding-left: 20px;
    width: 84%;
    font-weight: 600;
    color: white;
    font-size: 33px;
    background-color:transparent;
    cursor: pointer;
}

#head tr .add{
    text-align: center;
    font-size: 1.4vw;
    cursor: pointer;
}

#head tr .add a{
    padding: 5px 10px;
    background-color: #008000;
    border-radius: 1px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

#head tr .add a:hover {
    background-color: #339933;
}

#tbl tbody tr td a{
    text-decoration: none;
    font-weight: 600;
}

#tbl th:nth-of-type(1) {width:18%;}
#tbl th:nth-of-type(2) {width:22%;}
#tbl th:nth-of-type(3) {width:22%;}
#tbl th:nth-of-type(4) {width:15%;}
#tbl th:nth-of-type(5) {width:13%;}
#tbl th:nth-of-type(6) {width:10%;}

@media (max-width: 800px) {
    #head tr .title{
        padding-left: 20px;
        width: 82%;
        font-weight: 600;
        color: white;
        font-size: 22px;
        background-color:transparent;
        cursor: pointer;
    }
    #btn{
        font-size: 12px;
    }
    #tbl tbody tr td{
        font-size: 14px;
    }
    #tbl tbody tr td .btn{
        text-decoration: none;
        color: #ffffff;
        word-spacing: 100px;
        padding: 2px 5px;
        font-size: 13px;
        border-radius: 2px;
        font-size: 12px;
    }
    #tbl thead tr th:nth-of-type(4) {display: none;}
    #tbl tbody tr td:nth-of-type(4) {display: none;}
    #tbl thead tr th:nth-of-type(2) {display: none;}
    #tbl tbody tr td:nth-of-type(2) {display: none;}
}

@media (max-width: 700px) {
    #tbl thead tr th:nth-of-type(2) {display: none;}
    #tbl tbody tr td:nth-of-type(2) {display: none;}

    #tbl thead tr th:nth-of-type(4) {display: none;}
    #tbl tbody tr td:nth-of-type(4) {display: none;}

    #tbl tbody tr td{
        font-size: 14px;
    }
}


@media (max-width: 600px) {
    #head tr .title{
        padding-left: 20px;
        width: 70%;
        font-weight: 600;
        color: white;
        font-size: 18px;
        background-color:transparent;
        cursor: pointer;
    }
    #head tr .add{
        text-align: center;
        font-size: 8px;
        cursor: pointer;
    }
    #btn{
        font-size: 12px;
    }
    #tbl tbody tr td{
        font-size: 13px;
    }
    #tbl tbody tr td .btn{
        text-decoration: none;
        color: #ffffff;
        word-spacing: 100px;
        padding: 2px 5px;
        font-size: 13px;
        border-radius: 2px;
        font-size: 12px;
    }
    #tbl thead tr th:nth-of-type(2) {display: none;}
    #tbl tbody tr td:nth-of-type(2) {display: none;}

    #tbl thead tr th:nth-of-type(4) {display: none;}
    #tbl tbody tr td:nth-of-type(4) {display: none;}

    #tbl thead tr th:nth-of-type(3) {display: none;}
    #tbl tbody tr td:nth-of-type(3) {display: none;}
}