@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    /* background-image: url("https://transparenttextures.com/patterns/brushed-alum.png");  */
}


#head {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    font-family: Poppins;
    width: 98%;
    background-color: #66b366;
}
  
#head tr th {
    padding: 4px;
    border-collapse: collapse;
}
  
#head tr .title{
    padding-left: 20px;
    width: 82%;
    font-weight: 600;
    color: white;
    font-size: 33px;
    background-color:transparent;
    cursor: pointer;
}

#head tr .add{
    text-align: center;
    font-size: 1.4vw;
    cursor: pointer;
}

#head tr .add .pdf{
    text-align: center;
    font-size: 1.4vw;
    cursor: pointer;
}

#head tr .add a{
    padding: 5px 10px;
    background-color: #008000;
    border-radius: 1px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
  
#head tr .add a:hover {
    background-color: #339933;
}
  
#head th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: rgb(29, 29, 29);
}

.filter{
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #339933dc;
    font-family: Poppins;
    color: #ffffff;
}

#btn{
    color: white;
    background-color: #008000ad;
    padding: 7px;
    border: none;
}

#btn:hover{
    background-color: #008000ca;
}

.wrapper{
    margin: 10px auto;
    padding: 0 5%;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-family: Poppins;
}

.wrapper h1{
    text-align: center;
    text-decoration: none;
}

.wrapper h1 a{
    color: #0c390a;
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 900;
    text-decoration: none;
}

.container{
    margin-top: 20px;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.box{
    height: auto;
    padding: 13px;
    text-align: center;
    background:#f0f4ee;
    display: flex;
    flex-direction: column;
}

.box h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #008000;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 700;
}

.box h3{
    color: #085608;
    font-size: 14px;
    line-height: 0.7;
    font-weight: 500;
}

.box h4{
    color: rgb(53, 117, 53);
    padding: 5px 0;
    font-size: 13px;
    font-weight: 500;
}

.box p{
    color: green;
    font-size: 12px;
    line-height: 1.6;
}

.box .btn{
    border-radius: 0;
    outline: none;
    font-family: Poppins;
    font-size: 17px;
    margin-top: auto;
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px 15px;
    color: #ffffff;
    background: #008000;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
}

.box .btn:hover{
    color: #ffffff;
    background: #339933;
}

.box:hover{
    box-shadow: 0 10px 15px rgba(15, 81, 9, 0.272);
}

@media (max-width: 800px) {
    #head tr .title{
        padding-left: 10px;
        width: 76%;
        font-weight: 600;
        color: white;
        font-size: 22px;
        background-color:transparent;
        cursor: pointer;
    }
    .container{
        margin-top: 20px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(153px, 1fr));
    }
    #btn{
        font-size: 13px;
    }
    .box h2{
        font-size: 18px;
        font-weight: 600;
    }
    h3{
        display: none;
    }
    h4{
        display: none;
    }
}

@media (max-width: 500px) {
    #head tr .title{
        padding-left: 10px;
        width: 52%;
        font-weight: 600;
        color: white;
        font-size: 22px;
        background-color:transparent;
        cursor: pointer;
    }
    #head tr .add{
        text-align: center;
        font-size: 10px;
        cursor: pointer;
    }
    .container{
        margin-top: 20px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    }
    #btn{
        margin-top: 2rem;
        font-size: 10px;
    }
    #btn i{
        font-size: 20px;
    }
    .wrapper h2{
        margin-top: -1rem;
        font-size: 19px;
    }
    .box .btn{
        border: 1px;
        outline: none;
        font-family: Poppins;
        font-size: 13px;
        margin-top: auto;
        margin-right: 23px;
        margin-left: 23px;
        padding: 1px 1px;
        color: #ffffff;
        background: #008000;
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
    }
    .box h2{
        padding: 30px 0 2px 0;
        font-size: 14px;
        font-weight: 600;
    }
    h3{
        display: none;
    }
    .img_com{
        width:120px; 
        height:115px; 
        display:block;
        margin-left: auto;
        margin-right: auto;
    }  
    .form-group{
        font-size: 14px;
        height: -12rem;
    }
    form #btn{
        color: white;
        background-color: #008000ad;
        padding: 7px;
        border: none;
        margin-top: -39rem;
        font-size: 11px;
    } 
    .wrapper .container .box h2{
        font-size: 12px;
    }
    h4{
        display: none;
    }
}