<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        body {
            color: rgb(0, 0, 0);
            font-family: 'Times New Roman', Times, serif;
            font-size: 12pt;
            text-align: left;
            margin: 2rem;
          }

        h2{
            text-align: center;
            font-size: 200%;
        }

        h3{
            font-size: 19px;
            padding: -60px 0;
            font-weight: 500;
        }

        label{
            font-weight: bold;
        }

    </style>
</head>
<body>

        {% if team.photo %}
        <br>
        <img src="{{ team.photo.path }}" alt="img_commodity" style="width: 100px; height: 100px;"><br><br>
        {%else%}
        <br>
        <p>No Photo</p>
        {% endif %}

        <!-- <label>Fullname:</label> -->
        <h3>{{team.fname}} {{team.mname|default_if_none:""}} {{team.lname}}</h3><br><br>
        <label>Position:</label>
        {{team.position}}<br>
        <label>CMI:</label>
        {{team.cmi}}<br>
        <label>Cluster/Unit:</label>
        {{team.teams}}<br>
        <label>Email Address:</label>
        {{team.email_add}}<br>
        <label>Contact Number:</label>
        {{team.contact_no}}<br>
        <label>Date Appointed:</label>
        {{team.date_appointed}}<br>
        <!-- <label>Date of Birth:</label>
        {{team.dob}}<br> -->
        <label>Sex:</label>
        {{team.sex}}<br>
        <!-- <label>Bachelor's Degree:</label><br>
        {{team.bach_deg}}<br>
        <label>Bachelor's Degree Year Completed:</label>
        {{team.bdyearcompleted}}<br><br>
        <label>Master's Degree:</label><br>
        {{team.mas_deg}}<br>
        <label>Master's Degree Year Completed:</label>
        {{team.mdyearcompleted}}<br><br>
        <label>Doctorate Degree:</label><br>
        {{team.doc_deg}}<br>
        <label>Doctorate Degree Year Completed:</label>
        {{team.ddyearcompleted}}<br><br> -->
        <label>Specialization:</label>
        {{team.specialization}}<br><br>
          
         

</body>
</html>