<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/detail.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'images/wesmalogo.png' %}" rel="icon">
        <title>WESMAARRDEC</title>
    </head>

    <body>
        <div id="nav-placeholder"></div>

        <div class="container" style="margin-top: 60px;">
          <section class="about">
              <div class="about-image">
                  {% if commodity.img %}
                  <img class="img_team" src="{{ commodity.img.url }}" alt="commodity">
                  {% endif %}
                  
              </div>
                  <div class="about-content">
                      <h1>{{commodity.name}}</h1>
                      <p>{{commodity.detail}}</p>
                      <table>
                          <tr>
                              <th></th>
                              <td></td>
                          </tr>
                          
                          <tr>{% if commodity.produced_by %}
                              <th>Produced By:</th>
                              <td>{{commodity.produced_by}}</td>
                              {%else%}
                              {% endif %}
                          </tr>
  
                          <tr>
                              <th>CMI:</th>
                              <td>{{commodity.cmi_name}}</td>
                          </tr>

                          <tr>
                            
                            
                            <th>Adaptor(s): </th>
                            <td>{% for a in adaptors %}
                                <a href="{% url 'sub:detail_stakeholder' a.stakeholder_id %}">{{a.fullname|escape}}<br></a>
                                {% empty %}
                                  None
                                {% endfor %}
                            </td>
                        </tr>

                          {% if user.is_authenticated %}

                          <tr>
                            <th>IEC Material: </th>
                            <td>{% for iecmaterial in iecmaterials %}
                              <a href="{{ iecmaterial.iec_file.url }} " target="_blank">{{iecmaterial.title|escape}}<br></a>
                                {% empty %}
                                None
                              {% endfor %}
                            </td>
                          </tr>
                  
                        
                      {% if user.is_superuser %}
                      <tr>
                          <th>Created By: </th>
                          <td>{{commodity.created_by}}</td>
                      </tr>

                      <tr>
                          <th>Modified By: </th>
                          <td>{{commodity.modified_by}}</td>
                      </tr>
                      {% endif %}
                      {% endif %}
                  </table>
                  
                  {% if user.is_superuser or user.secretariat or request.user == commodity.created_by %}
                      <a href="{% url 'commodity:edit' commodity.name %}" class="btn btn-success">Edit</a>
                      <a href="{% url 'commodity:delete' commodity.name %}" class="btn btn-danger">Delete</a>
                  {% endif %}
                  <a href="{% url 'commodity:commodity' %}" class="btn btn-secondary">Back</a>
              </div>
          </section><br/>

          <div class="row">
            <div class="column">
              <table id="table_cmi" class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col" style="background-color:#77c296;">Programs</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for program in programs %}
                    <tr>
                      <th><a href="{% url 'program:details' program.prog_id %}">{{program.title}}</a></th>
                      {% empty %}
                      <th>None</th>
                    </tr>
                      {% endfor %}
                  </tbody>
              </table><br>
            </div>

            <div class="column">
              <table id="table_cmi" class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col" style="background-color:#6c98b5;">Projects</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for project in projects %}
                    <tr>
                      <th><a href="{% url 'project:details' project.proj_id %}">{{project.title}}</a></th>
                       {% empty %}
                      <th>None</th>
                    </tr>
                      {% endfor %}
                  </tbody>
              </table><br>
            </div>
            
      </div>

        <script>
            $(function(){
              $("#nav-placeholder").load("{% url 'consortium:nav' %}");
            });
        </script>

    </body>

</html>