<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        body {
            color: rgb(0, 0, 0);
            font-family: 'Times New Roman', Times, serif;
            font-size: 12pt;
            text-align: left;
            margin: 2rem;
          }

        h2{
            text-align: center;
            font-size: 200%;
        }
        h3{
            font-size: 19px;
            padding: -50px 0;
            font-weight: 500;
        }

        label{
            font-weight: bold;
        }

    </style>
</head>
<body>

    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h2>COMMODITIES</h2> -->

        <img src="static/images/letterhead.PNG" alt="letterhead" style="width: 650px; height: 100px;"><br>
        <br>
        <img src="{{ commodity.img.path }}" alt="img_commodity" style="width: 240px; height: 240px;"><br><br>

        <!-- <label>Name:</label> -->
        <h3>{{commodity.name}}</h3><br>

        <label>CMI:</label>
        {{commodity.cmi_name}}<br><br>

        <label>Details:</label><br>
        {{commodity.detail}}<br><br>

        {% if commodity.produced_by %}
        <label>Produced By:</label>
        {{commodity.produced_by}}<br><br>
        {%else%}
        {% endif %}

        
        <label>Adaptor(s):</label><br>
        {% for a in adaptors %}
        {{a.fullname|escape}}<br>
        {% empty %}
        None<br>
        {% endfor %}<br>
        

        <label>IEC Material:</label>
        {% for iecmaterial in iecmaterials %}
         {{iecmaterial.title|escape}}<br>
        {% empty %}
        None
        {% endfor %}</div>
         

        <br>
        <table width="100%">
          <tr>
            <td style="font-weight: 600;">Programs:</td>
          </tr>
          {% for prog in programs %}
          <tr>
            <td>- {{prog.title}}</td>
            {% empty %}
            <td>None</td>
          </tr>
          {% endfor %}
        </table>

        <table width="100%">
          <tr>
            <td style="font-weight: 600;">Projects:</td>
          </tr>
          {% for proj in projects %}
          <tr>
            <td>- {{proj.title}}</td>
            {% empty %}
            <td>None</td>
          </tr>
          {% endfor %}
        </table>


</body>
</html>