<!DOCTYPE html>
<html lang="en">
    
    <head>
        {% load static %}
        {% load crispy_forms_tags %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/add_edit.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'images/wesmalogo.png' %}" rel="icon">
        <title>WESMAARRDEC</title>
    </head>

    <body>
        <div id="nav-placeholder"></div>
        
        <h3 style="font-weight: 700; font-size: 30px; color: #008000">Add Site</h3>

        <form method="POST" class="add_form" enctype="multipart/form-data">
            {% csrf_token %}
            
                {{ form|crispy }}   

            <input type="submit" name="Save Data" value="Save Data" class="btn">
        </form>

        <script>
            $(function(){
              $("#nav-placeholder").load("{% url 'consortium:nav' %}");
            });
        </script>



  </body>
</html>





