<!DOCTYPE html>
<html lang="en">

    <head>
		{% load static %}
		{% load crispy_forms_tags %}
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'css/summary.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link href="{% static 'images/wesmalogo.png' %}" rel="icon">
		<title>WESMAARRDEC</title>
	</head>


    <body>
		
		<div id="nav-placeholder"></div>
		
		<table id="head">
			<tr>
			  <th class="title">Audit Trail</th>
			  {% if user.is_authenticated %}
			  <th class="add"><a href="{% url 'sub:dashboard' %}" id="myBtn">Dashboard</a>
			  {% endif %}
			</tr>
		  </table> 
		  <br>

		  <!-- <div class="Table_Div" > -->
		  <table id="tbl" class="table table-bordered">
            <thead>
			  <tr>
				<th scope="col">Actions</th>
			  </tr>
			</thead>
			{% for log in log %}
			<tbody>
			  <tr>
				<td>
                    {{log.actor.username}}
                
					{% if log.action == 1 %} updated{% endif %}
                    {% if log.action == 2 %} deleted{% endif %}
                    {% if log.action == 0 %} created{% endif %}
                
                
                    {{log.object_repr}} {% if log.action == 1 %}{{log.changes_str}}{% endif %} on
                
                
                    {{log.timestamp}}
                </td>
			  </tr>
			</tbody>
			{% endfor %}
		  </table>
		<!-- </div> -->

		<script>
			$(function(){
			  $("#nav-placeholder").load("{% url 'consortium:nav' %}");
			});
		</script>
		

    </body>
</html>     