<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/detail.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'images/wesmalogo.png' %}" rel="icon">
        <title>WESMAARRDEC</title>
    </head>

    <body>
        <div id="nav-placeholder"></div>

        <br><br>
            
        <div class="cont">
            <div class="wrapper">
                <div class="text-box">
                    <p>
                        <div class="name">{{iecmaterial.title}}</div>
                        <div class="content">Description: {{iecmaterial.iec_type}}</div>
                        <div class="content">Program Leader: {{iecmaterial.target_audience}}</div>
                        <div class="content">Implementing Agenvy:<br> {{iecmaterial.designed_by}}</div>
                        <div class="content">Funding Agency:<br> {{iecmaterial.content_by}}</div>
                        <div class="content">Start Date:<br> {{iecmaterial.date_published}}</div>
                        <div class="content">Duration:<br> {{iecmaterial.ip}} month/s</div>

                        {% if iecmaterial.iec_file %}
                        <div class="content">IEC File:
                        <h4><a href="{{ iecmaterial.iec_file.url }} " target="_blank">Download File<i class="bx bxs-download"></i></a></h4>
                        </div>
                        {% endif %}

                        {% if user.is_superuser %}
                        <div class="content">Created by: {{iecmaterial.created_by}}</div>
                        <div class="content">Modified by: {{iecmaterial.modified_by}}</div>
                        {% endif %}
                        <br><br>
                        
                        <a href="{% url 'sub:iec_material' %}" class="btn" style="font-weight: 600;">Back</a>
                    </p>
                </div>
            </div>

            <div class="#">
            </div>

        </div>

        <script>
            $(function(){
              $("#nav-placeholder").load("{% url 'consortium:nav' %}");
            });
        </script>

    </body>

</html>