<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/detail.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'images/wesmalogo.png' %}" rel="icon">
        <title>WESMAARRDEC</title>
    </head>

    <body>
        <div id="nav-placeholder"></div>

        <br><br>
            
        <div class="cont">
            <div class="wrapper">
                <div class="text-box">
                    <p>
                        <div class="name">{{projectimp.proj_id}}</div>
                        <div class="content">Barangay: {{projectimp.barangay}}</div>
                        <div class="content">City: {{projectimp.city}}</div>
                        <div class="content">Province: {{projectimp.province}}</div>
                        <div class="content">Zipcode: {{projectimp.zipcode}}</div>
                        {% if user.is_superuser %}
                        <br>
                        <div class="content">Created by: {{projectimp.created_by}}</div>
                        <div class="content">Modified by: {{projectimp.modified_by}}</div>
                        {% endif %}
                        <br><br>
                        <a href="{% url 'sub:projimp' %}" class="btn" style="font-weight: 600;">Back</a>
                    </p>
                </div>
            </div>

            <div class="#">
            </div>

        </div>

        <script>
            $(function(){
              $("#nav-placeholder").load("{% url 'consortium:nav' %}");
            });
        </script>

    </body>

</html>